.DS_Store
.*.swp
.vscode
*.dSYM
serialinterface/src/server
serialinterface/src/data.txt
*.o
serialinterface/src/cache_tests/cache_tests
serialinterface/src/cache_tests/cache_tests.exe
serialinterface/src/cache_tests/cache_tests.log
target/
data.txt